body > div{
    background-color: rgb(191, 185, 174);
    width: 300px;
    border-radius: 9px;
    border: 2px solid rgb(108, 102, 102);
    align-items: center;
}
div > h2{
    text-align: center;
}

.from {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}


button {
    display: block;
    width: 100px;
    padding: 8px;
    margin: 10px auto; 
    text-align: center;
}



