.box{
    width: 600px;
    background-color: rgb(233, 241, 246);
}
.box1{
    padding: 10px;
    display: flex;
    align-items: center;
}

p{
    padding-left: 10px; 
}



.red{
    margin-top: 35px;
    margin-left: 10px ;
    border: none;
    background-color: #bc2229;
    color: white;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    font-size: 20px;

}

.a{
    margin-top: 35px;
    margin-left: 10px ;
    border: none;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    font-size: 20px;
    color: #231751;
    border: 1px solid #231751;
    }

.bot{
   padding-bottom: 10px;
}
