

.body{
    width: 480px;
    margin:auto;
    text-align: center;
    color:#a19d9d

}
.button{
    padding-top:40px;
}

.button button {
    margin-right: 20px;
    padding: 10px 28px;
}

.button button:last-child {
    margin-right: 0;
}
i{
    position: absolute;
    width: 20px;
    height: 20px;
    left:600px;
}

.footer{
    margin: auto;
    margin-top: 70px;
    background-color: #dcd9d9;
    text-align: center;
     color:#a79e9e
}
footer{
    padding: 40px;
}

.icon1{
    position:absolute;
    top: 280px;
    left: 20px;
}
.icon2{
    position:absolute;
    top: 280px;
    left: 80px;
}

.icon3{
    position:absolute;
    top: 280px;
    left: 140px;
}
.dowload{
    background-color: hsl(243.08deg 60% 74.51%);
    border: 1px solid  hsl(243.08deg 60% 74.51%);
    border-radius: 5px;
}
.more{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid  hsl(0, 0%, 15%);
    border-radius: 5px;
}



